<div class="container">
    <div class="{{tipoMensagem}} alert-dismissible fade show" *ngIf="mensagem != ''">
        <button type="button" class="btn-close" aria-label="Close" (click)="closeAlert()">
        </button>
        {{mensagem}}
      </div>
      <form [formGroup]="produtoForm" (ngSubmit)="updateProduto()" novalidate>
          <div class="row">
            <span>O nome do arquivo que você deseja alterar é {{produto.nome}}. Digite um novo nome se deseja alterá-lo.</span>  <br>
            <div class="col-6">
                  <label><b>Nome</b></label>
                  <input type="text" class="form-control" formControlName="nome" autofocus >
              </div>
          </div>
          <div class="row">
              <div class="col-6">
                <span>O valor do arquivo que você deseja alterar é R${{produto.valor}}. Digite um novo valor se deseja alterá-lo.</span>  <br>  
                <label><b>Valor</b></label>
                  <input type="valor" class="form-control" formControlName="valor" >
              </div>
          </div>
          <div class="row text-center mt-2">
              <div class="col-2">
                  <button type="submit" class="btn btn-primary">Atualizar</button>
              </div>
          </div>
      </form>
  </div>