<div class="container">
    <table class="table table-bordered table-inverse">
      <tr>
        <th>Nome</th>
        <th>Valor</th>
        <th>ID</th>
        <th>Delete</th>
      </tr>
      <tr *ngFor="let produto of produtos">
        <td>
          {{produto.nome}}
        </td>
        <td>
          R$ {{produto.valor}}
        </td>
        <td>
          {{produto.id}}
        </td>
        <td>
          <button type="button" class="btn btn-outline-danger">Delete</button>
        </td>
      </tr>
    </table>
  </div>