<div class="container">
    <span>Digite o nome e o valor do produto que deseja cadastrar</span>
    <div class="{{tipoMensagem}} alert-dismissible fade show" *ngIf="mensagem != ''">
        <button type="button" class="btn-close" aria-label="Close" (click)="closeAlert()">
        </button>
        {{mensagem}}
      </div>
    <form [formGroup]="produtoForm" (ngSubmit)="submitRegistration()" novalidate>
        <div class="row">
            <div class="col-6">
                <label><b>Nome</b></label>
                <input type="text" class="form-control" formControlName="nome" required autofocus />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label><b>Valor</b></label>
                <input type="valor" class="form-control" formControlName="valor" required />
            </div>
        </div>
        <div class="row text-center mt-2">
            <div class="col-2">
                <button type="submit" class="btn btn-primary">Cadastar</button>
            </div>
            <div class="col-2">
                <button class="btn btn-outline-primary" type="button" (click)="listarTodos()">Listar todos</button>
            </div>
        </div>
    </form>
</div>